// Colors
$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 52px
$font-15: 0.9375rem; // 15px
$font-22: 1.375rem; // 22px
$font-30: 1.875rem; // 30px
$font-44: 2.75rem; // 44px